.wrapper{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}
.calculator-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 500px;

}
.display-box{
    border: 1px solid black;
    padding: 16px;
    text-align: end;
    font-size: 24px;
    border-radius: 12px;

}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
}
button{
    border-radius: 8px;
    height: 50px;
    font-weight: bold;
    flex: 1;
    margin-bottom: 12px;
    cursor: pointer;

}

.equal-button{
    flex: 2;
}
.prank{
    background-color: red;
    color: white;
    animation: shake 0.5s;
}
@keyframes shake {
    0%{
        transform: translate(10px);
    }
    25%{
        transform: translate(10px);
    }
    50%{
        transform: translate(10px);
    }
    75%{
        transform: translate(10px);
    }
    100%{
        transform: translate(10px);
    }
}